<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<p>Greetings Sailor,<br><br></p>
<p>We received a request to reset your password.</p>
<p>This link will expire in <span th:text="${hours}">[hours]</span> hours. You can change your password by clicking the link below:<br><br></p>
<p><a th:href="@{${resetPasswordUrl}}">Change password</a><br><br></p>
<p>If you did not request a password reset, please ignore this email or contact support if you have questions.<br><br></p>
<p>Thank you,<br>The SEAI Team</p>
</body>
</html>