<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<p>Ahoy, Sailor!<br><br></p>
<p>Congratulations! Your email has been successfully verified and your account is now ready for smooth sailing.</p>
<p>We're thrilled to have you aboard the SeAI crew. Here are some tips to get you started:</p>
<ul>
    <li>Explore the features: Navigate through our platform and discover all the awesome features we have to offer.</li>
    <li>Stay updated: Keep an eye on your inbox for the latest updates and exciting news.</li>
</ul>
<p>If you have any questions or need assistance, our support team is here to help. Just send us an email at support@seai.co.</p>
<p>Wishing you calm seas and prosperous voyages!</p>
<p>Best regards,<br>The SeAI.co Crew</p>
</body>
</html>