<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="email-body">
        <p>Dear Sailor,<br><br></p>
        <p>You have requested a new confirmation link to complete your registration.</p>
        <p>Please confirm your email address by clicking the button below within the next <strong th:text="${minutes}">[minutes]</strong> minutes:<br><br></p>
        <p>
            <a th:href="@{${verifyTokenUrl}}" class="button">Verify Email</a>
            <br><br></p>
        <p>If you did not request this, please ignore this email.<br><br></p>
    </div>
    <div class="email-footer">
        <p>Best regards,<br>The SeAI Team</p>
    </div>
</body>
</html>